.yt-avatar--container {
  width: fit-content;
  height: fit-content;
  position: relative;

  .yt-avatar {
    overflow: hidden;
    position: relative;

    &--image {
      width: 100%;
      height: 100%;
    }
  }

  .yt-avatar--badge {
    position: absolute;
    right: 25%;
    top: 0;
  }
}
