@use '../var' as var;
@use '../mixins' as mixins;
// @use '../anim' as anim;

@mixin dots-item-outer($width, $height, $margin) {
  width: $width;
  height: $height;
  margin: $margin;
  background: #f5f5f550;
  box-shadow: var.$shadow-1;
}

.yt-dots {
  @include mixins.inline-flex-center(var(--dots-flex-direction));
  width: 100%;
  height: 100%;

  &--horizontal {
    .yt-dots--item-outer {
      @include dots-item-outer(10px, 4px, 0 2px);

      &-active {
        width: 20px;
      }
    }
  }

  &--vertical {
    .yt-dots--item-outer {
      @include dots-item-outer(4px, 10px, 2px 0);

      &-active {
        height: 20px;
      }
    }
  }

  &--item-inner {
    width: 100%;
    height: 100%;
  }
}
