@use '../var' as var;
@use '../mixins' as mixins;
@use '../anim' as anim;

.yt-notice-bar {
  @include mixins.inline-flex-center;

  &--text-container {
    flex: 1;
    margin: auto;
    height: fit-content;
    width: 100%;
    overflow: hidden;
  }

  &--text {
    min-width: 100%; // 确保短文本撑满容器
    width: fit-content;
    height: fit-content;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    animation-name: notice-bar-text-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &--prefix {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  &--suffix {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
}
