@use '../var' as var;
@use '../mixins' as mixins;

.yt-search {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  position: relative;

  &--input {
    position: absolute;
    font-size: var.$font-size-small;
    width: 100%;
    z-index: 0;
  }

  &--button {
    z-index: 1;
  }

  &--clear {
    position: absolute;
    top: 5px;
    z-index: 1;
    font-size: 14px;
    color: #fff;
    transform: scale(0.8);
    transform-origin: center;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #33333350;
    border-radius: 50%;
  }
}
