@use '../var' as var;
@use '../mixins' as mixins;

$inactive-color: #333;

.yt-steps {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  overflow: auto;
  gap: var(--steps-gap);

  &::-webkit-scrollbar {
    display: none;
  }

  &--horizontal {
    flex-direction: row;

    .yt-steps--item-line {
      // itemGap + (100% - 图标20px - border2px * 2 - gap4px * 2)
      width: calc(var(--steps-gap) + 100% - 32px);
      height: 1px;
      border-top: 2px solid #999;
      position: absolute;
      left: calc(50% + 16px); // 50% + 10px一半图标width + 4px的gap + 2px的border
      top: 16px; // 图标的一半height 10px + 4px的gap + 2px的border
    }
  }

  &--vertical {
    flex-direction: column;

    .yt-steps--item-line {
      width: 1px;
      height: calc(var(--steps-gap) + 100% - 32px - var(--item-text-height));
      border-left: 2px solid #999;
      position: absolute;
      top: calc(50% + 2px + var(--item-text-height));
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    min-height: 60px;
    width: 100%;
    height: fit-content;
    gap: 4px;
    opacity: 0.5;
    flex-shrink: 0;
    position: relative;

    &-active {
      opacity: 1;
      transition: opacity var.$transition-duration-slow var.$easing-ease-out;
    }

    &-icon {
      overflow: hidden;
      width: 20px;
      height: 20px;
      padding: 4px;
      border-width: 2px;
      border-style: solid;
      border-color: $inactive-color;
      border-radius: 50%;
    }

    &-icon-image,
    &-icon-text {
      @include mixins.inline-flex-center;
      width: 100%;
      height: 100%;
    }

    &-icon-text {
      color: $inactive-color;
      font-weight: bold;
    }

    &-text {
      text-align: center;
      width: 100%;
      height: var(--item-text-height);
      color: $inactive-color;
      font-weight: bold;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
