@use '../var' as var;

@mixin arrow-style {
  pointer-events: auto;
  position: absolute;
  filter: drop-shadow(3px 3px 3px #3e3e3e80);
}

.yt-swiper {
  // background-color: green;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &.yt-swiper--card {
    perspective: 1200px;

    .yt-swiper--container {
      transform-style: preserve-3d;
    }

    .yt-swiper--container-item {
      backface-visibility: hidden;
    }
  }

  &--dragger {
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-timing-function: var.$easing-ease-out;
    transition-duration: var.$transition-duration-slow;

    &-swipping {
      transition-duration: var.$transition-duration-fast;
    }
  }

  &--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform var(--swiper-translate-duration) var.$easing-ease-out;

    &-item {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      transition: transform var(--swiper-translate-duration) var.$easing-ease-out;
    }

    &-horizontal {
      flex-direction: row;
      transform: translateX(calc(var(--swiper-translate-index) * -100%));
    }

    &-vertical {
      flex-direction: column;
      transform: translateY(calc(var(--swiper-translate-index) * -100%));
    }
  }

  &--arrow {
    // background-color: green;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &-left {
      @include arrow-style;
      left: 0;
    }

    &-right {
      @include arrow-style;
      right: 0;
    }

    &-up {
      @include arrow-style;
      top: 0;
    }

    &-down {
      @include arrow-style;
      bottom: 0;
    }
  }

  &--dots {
    position: absolute;
    pointer-events: none;

    &-horizontal {
      left: 50%;
      transform: translateX(-50%);
      bottom: var(--swiper-dots-offset);
    }

    &-vertical {
      bottom: 50%;
      transform: translateY(50%);

      &-left {
        left: var(--swiper-dots-offset);
      }

      &-right {
        right: var(--swiper-dots-offset);
      }
    }
  }
}
