@use '../var' as var;
@use '../mixins' as mixins;
@use '../anim' as anim;

@mixin arrow-style {
  pointer-events: auto;
  position: absolute;
  filter: drop-shadow(3px 3px 3px #3e3e3e80);
}

.yt-swiper {
  // background-color: green;
  position: relative;
  overflow: hidden;

  &.yt-swiper--card {
    perspective: 1200px;

    .yt-swiper--container {
      transform-style: preserve-3d;
    }

    .yt-swiper--container-item {
      backface-visibility: hidden;
    }
  }

  &--container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform var(--swiper-translate-duration) var.$easing-ease-out;

    &-item {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      transition: transform var(--swiper-translate-duration) var.$easing-ease-out;
    }

    &-horizontal {
      flex-direction: row;
      transform: translateX(calc(var(--swiper-translate-index) * -100%));
    }

    &-vertical {
      flex-direction: column;
      transform: translateY(calc(var(--swiper-translate-index) * -100%));
    }
  }

  &--arrow {
    // background-color: green;
    width: 100%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    &-left {
      @include arrow-style;
      left: 0;
    }

    &-right {
      @include arrow-style;
      right: 0;
    }

    &-up {
      @include arrow-style;
      top: 0;
    }

    &-down {
      @include arrow-style;
      bottom: 0;
    }
  }
}
