@use '../var' as var;
@use '../mixins' as mixins;
@use '../anim' as anim;

$margin-top-offset: -16px;
$center-item-width: 48px;
$center-item-height: 48px;

.yt-tabbar {
  &--container {
    overflow: hidden;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: min(100%, var.$max-content-width);
    height: fit-content;
    background-color: var.$bg-color-container;
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: var.$shadow-3;
    padding: var(--tabbar-container-padding);
    border-top-left-radius: var.$border-radius-extra-large;
    border-top-right-radius: var.$border-radius-extra-large;
    transition: background-color var.$transition-duration-slow var.$easing-ease-in-out;
  }

  &--item {
    @include mixins.inline-flex-center(column);
    margin-top: $margin-top-offset;
    width: 60px;
    height: 60px;

    &-active {
      animation: tabbar-active-animation anim.$animation-duration-fast anim.$ease-out-back forwards;
    }

    &-index-0 {
      margin-left: 24px;
    }
    &-index-1 {
      margin-right: var(--tabbar-item-margin);
    }
    &-index-2 {
      margin-left: var(--tabbar-item-margin);
    }
    &-index-3 {
      margin-right: 24px;
    }

    // centerIcon
    &-center {
      @include mixins.inline-flex-center;
      position: fixed;
      bottom: 14px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      width: $center-item-width + 10px;
      height: $center-item-height + 10px;

      &-inner {
        width: $center-item-width;
        height: $center-item-height;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: inset var.$shadow-2;

        &-icon {
          width: $center-item-width;
          height: $center-item-width;
        }

        &-image {
          transform: scale(0.42);
          object-fit: fill;
          width: $center-item-width;
          height: $center-item-width;
        }

        &-items {
          width: 100%;
          height: 100%;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          background-color: var(--tabbar-center-item-bgColor);
          width: $center-item-width;
          height: $center-item-height * 5;
          transition: transform var.$transition-duration-slow var.$easing-ease-in-out,
            background-color var.$transition-duration-slow var.$easing-ease-in-out;
        }
      }
    }
  }

  &--image {
    width: 100%;
    height: 100%;
    transform: scale(0.4);
  }

  &--text {
    margin-top: $margin-top-offset;
    font-size: var.$font-size-xs;
  }
}
