@use '../var';
@use '../anim';
@use '../mixins';

.yt-top-tabbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: #098f80;
  top: 0;
  left: 0;

  &--item {
    @include mixins.inline-flex-center;
    flex: 1;
    height: 100%;

    &-text {
      font-size: 12px;
      transition: transform anim.$animation-duration-normal anim.$ease-out-back;
      color: #ffffffcc;
      transform: scale(1);

      &.active {
        color: #fff;
        transform: scale(1.1);
      }
    }
  }

  &--slider-container {
    @include mixins.inline-flex-center;
    position: absolute;
    left: 0;
    top: 44px;
    transition: transform anim.$animation-duration-fast anim.$ease-out-back;
  }
}
