@use '../var';

.yt-top-tabbar {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  height: 46px;
  background-color: #098f80;
  position: relative;

  &--item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    &-icon {
      position: absolute;
      top: 26px;

      &.active {
      }
    }

    &-text {
      font-size: 12px;
      color: #ffffffee;

      &.active {
      }
    }
  }
}
