@use 'sass:map';
@use 'sass:meta';
@use '../styles/var' as var;
// @use '../styles/theme-utils' as utils;

$theme-forest: #49b08f;
$theme-ocean: #00a5e0;
$theme-magic: #9c27ff;
$theme-blossom: #ff6b9d;
$theme-sunshine: #ff9800;
$theme-classic: #ffffff;
$theme-gradient-forest-sky: linear-gradient(135deg, #49b08f, #66bb6a);
$theme-gradient-ocean-sky: linear-gradient(135deg, #00a5e0, #667ee0);
$theme-gradient-magic-sky: linear-gradient(135deg, #9c27ff, #e040fb);
$theme-gradient-blossom-sky: linear-gradient(135deg, #ff6b9d, #ff8a80);
$theme-gradient-sunshine-sky: linear-gradient(135deg, #ff9800, #ffca28);

$themes: (
  'forest': $theme-forest,
  'ocean': $theme-ocean,
  'magic': $theme-magic,
  'blossom': $theme-blossom,
  'sunshine': $theme-sunshine,
  'classic': $theme-classic,
  'forest-sky': $theme-gradient-forest-sky,
  'ocean-sky': $theme-gradient-ocean-sky,
  'magic-sky': $theme-gradient-magic-sky,
  'blossom-sky': $theme-gradient-blossom-sky,
  'sunshine-sky': $theme-gradient-sunshine-sky,
  'none': transparent
);

$component-themes: (
  'dots': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': $theme-classic,
    'forest-sky': $theme-gradient-forest-sky,
    'ocean-sky': $theme-gradient-ocean-sky,
    'magic-sky': $theme-gradient-magic-sky,
    'blossom-sky': $theme-gradient-blossom-sky,
    'sunshine-sky': $theme-gradient-sunshine-sky,
    'none': #ffffff
  ),
  'input': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': $theme-classic,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': transparent
  )
);

//theme
@each $name, $color in $themes {
  // tabbar
  .yt-tabbar--theme-#{$name} {
    background: #{$color};
  }
  // swiper
  .yt-swiper--theme-#{$name} {
    background: #{$color};
  }
  // button-primary
  .yt-button--primary-#{$name} {
    background: #{$color};
    color: #fff;
    border-color: #{$color};
    @if $name == 'classic' {
      color: #333;
      border-color: #33333330;
    }
  }
}

// dots
@each $name, $color in map.get($component-themes, 'dots') {
  $dots-border-radius: 40px;
  // inactive-dots
  .yt-dots--theme-#{$name} .yt-dots--item-outer {
    @if $name != 'none' {
      border-radius: $dots-border-radius;
    }
  }
  // active-dots
  .yt-dots--theme-#{$name} .yt-dots--item-outer-active .yt-dots--item-inner {
    background: #{$color};
    @if $name != 'none' {
      border-radius: $dots-border-radius;
    }
  }
}

// input
@each $name, $color in map.get($component-themes, 'input') {
  .yt-input--theme-#{$name} {
    box-sizing: border-box;
    border: 1px #{$color} solid;
    border-radius: 8px;
    @if $name == 'classic' {
      border: 1px #333 solid;
      border-color: #33333330;
    }
  }
  // textarea
  .yt-textarea--theme-#{$name} {
    box-sizing: border-box;
    border: 1px #{$color} solid;
    border-radius: 8px;
    @if $name == 'classic' {
      border: 1px #333 solid;
      border-color: #33333330;
    }
  }
}
