@use 'sass:map';
@use 'sass:meta';
@use '../styles/var' as var;
// @use '../styles/theme-utils' as utils;

$theme-forest: #49b08f;
$theme-ocean: #00a5e0;
$theme-magic: #9c27ff;
$theme-blossom: #ff6b9d;
$theme-sunshine: #ff9800;
$theme-classic: #ffffff;
$theme-gradient-forest-sky: linear-gradient(135deg, #49b08f, #66bb6a);
$theme-gradient-ocean-sky: linear-gradient(135deg, #00a5e0, #667ee0);
$theme-gradient-magic-sky: linear-gradient(135deg, #9c27ff, #e040fb);
$theme-gradient-blossom-sky: linear-gradient(135deg, #ff6b9d, #ff8a80);
$theme-gradient-sunshine-sky: linear-gradient(135deg, #ff9800, #ffca28);

$themes: (
  'forest': $theme-forest,
  'ocean': $theme-ocean,
  'magic': $theme-magic,
  'blossom': $theme-blossom,
  'sunshine': $theme-sunshine,
  'classic': $theme-classic,
  'forest-sky': $theme-gradient-forest-sky,
  'ocean-sky': $theme-gradient-ocean-sky,
  'magic-sky': $theme-gradient-magic-sky,
  'blossom-sky': $theme-gradient-blossom-sky,
  'sunshine-sky': $theme-gradient-sunshine-sky,
  'none': #ffffff00
);

$component-themes: (
  'dots': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': $theme-classic,
    'forest-sky': $theme-gradient-forest-sky,
    'ocean-sky': $theme-gradient-ocean-sky,
    'magic-sky': $theme-gradient-magic-sky,
    'blossom-sky': $theme-gradient-blossom-sky,
    'sunshine-sky': $theme-gradient-sunshine-sky,
    'none': #ffffff
  ),
  'input': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': #999,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': #ffffff00
  ),
  'avatar': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': #33333330,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': #ffffff00
  ),
  'calendar': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': #333,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': #ffffff00
  ),
  'calendar-header': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': linear-gradient(135deg, #33333350, #eee),
    'forest-sky': $theme-gradient-forest-sky,
    'ocean-sky': $theme-gradient-ocean-sky,
    'magic-sky': $theme-gradient-magic-sky,
    'blossom-sky': $theme-gradient-blossom-sky,
    'sunshine-sky': $theme-gradient-sunshine-sky,
    'none': linear-gradient(135deg, #33333350, #eee)
  ),
  'loading': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': #333,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': #333
  ),
  'notice-bar': (
    'forest': $theme-forest,
    'ocean': $theme-ocean,
    'magic': $theme-magic,
    'blossom': $theme-blossom,
    'sunshine': $theme-sunshine,
    'classic': #fff,
    'forest-sky': $theme-forest,
    'ocean-sky': $theme-ocean,
    'magic-sky': $theme-magic,
    'blossom-sky': $theme-blossom,
    'sunshine-sky': $theme-sunshine,
    'none': #ffffff00
  )
);

//theme
@each $name, $color in $themes {
  // tabbar
  .yt-tabbar--theme-#{$name} {
    background: #{$color};
  }
  // swiper
  .yt-swiper--theme-#{$name} {
    background: #{$color};
  }
  // button-primary
  .yt-button--primary-#{$name} {
    background: #{$color};
    color: #fff;
    border-color: #{$color};
    @if $name == 'classic' or $name == 'none' {
      color: #333;
      border-color: #33333330;
    }
  }
  // badge
  .yt-badge--theme-#{$name} {
    background: #{$color};
    @if $name == 'classic' or $name == 'none' {
      background: #f50;
    }
  }
  // fab
  .yt-fab--theme-#{$name} {
    .yt-fab--inner-circle {
      background: #{$color};
      @if $name == 'classic' or $name == 'none' {
        background: #999;
      }
    }
  }
  // tag-primary
  .yt-tag--primary-#{$name} {
    background: #{$color};
    color: #fff;
    border-color: #{$color};
    @if $name == 'classic' or $name == 'none' {
      background: #fff;
      color: #333;
      border-color: #33333330;
    }
  }
}

// dots
@each $name, $color in map.get($component-themes, 'dots') {
  $dots-border-radius: 40px;
  // inactive-dots
  .yt-dots--theme-#{$name} .yt-dots--item-outer {
    @if $name != 'none' {
      border-radius: $dots-border-radius;
    }
  }
  // active-dots
  .yt-dots--theme-#{$name} .yt-dots--item-outer-active .yt-dots--item-inner {
    background: #{$color};
    @if $name != 'none' {
      border-radius: $dots-border-radius;
    }
  }
}

// input
@each $name, $color in map.get($component-themes, 'input') {
  .yt-input--theme-#{$name} {
    box-sizing: border-box;
    border: 1px rgba($color, 0.5) solid;
    border-radius: 8px;
  }
  // textarea
  .yt-textarea--theme-#{$name} {
    box-sizing: border-box;
    border: 1px rgba($color, 0.5) solid;
    border-radius: 8px;
  }
}

// avatar
@each $name, $color in map.get($component-themes, 'avatar') {
  .yt-avatar--theme-#{$name} {
    border: 1px solid #{$color};
  }
}

// calendar
@each $name, $color in map.get($component-themes, 'calendar') {
  .yt-calendar--theme-#{$name} {
    .yt-calendar--body-grid-item-today {
      background: rgba($color, 0.05);
      border: 1px solid #{$color};
      color: #{$color};
      @if $name == 'none' {
        background: rgba(#333, 0.05);
        border: 1px solid #333;
        color: #333;
      }
    }
    .yt-calendar--body-week {
      color: rgba($color, 0.8);
      @if $name == 'none' {
        color: rgba(#333, 0.8);
      }
    }
  }
}

// calendar-header
@each $name, $color in map.get($component-themes, 'calendar-header') {
  .yt-calendar--theme-#{$name} {
    .yt-calendar--header {
      background: #{$color};
    }
  }
}

// loading-inner-circle
@each $name, $color in map.get($component-themes, 'loading') {
  .yt-loading--theme-#{$name} {
    .yt-loading--inner-circle {
      border-top-color: #{$color};
    }
  }
}

// notice-bar
@each $name, $color in map.get($component-themes, 'notice-bar') {
  .yt-notice-bar--theme-#{$name} {
    background: rgba($color, 0.1);
    color: #{$color};
    @if $name == 'classic' or $name == 'none' {
      color: #333333aa;
    }
  }
}
